<%- include("header") -%>

<h2>About</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, aut exercitationem eius voluptates eos minima
  reiciendis tempora rerum nemo officiis officia. Dolore porro maxime aspernatur aliquid eum veritatis! Earum, eum.
</p>

<%- include("footer") -%>
